<div class="rounded-md px-1.5 hover:bg-base-100 cursor-pointer transition-colors" (click)="toggleMenu($event)">
  <div tabindex="0" role="button" class="m-1 flex items-center gap-1">
    <ng-content select="[menuTrigger]">
      <!-- Fallback: usa icon y menuTitle si no se proyecta contenido -->
      <span class="flex items-center gap-1">
        @if (icon()) {
        <i class="bi bi-{{ icon() }} text-lg"></i>
        }
        @if (menuTitle()) {
        <span class="text-sm">{{ menuTitle() }}</span>
        }
        @if (!icon() && !menuTitle()) {
        <i class="bi bi-three-dots-vertical text-lg"></i>
        }
      </span>
    </ng-content>
  </div>
</div>

@if (isOpen()) {
<ul class="menu bg-base-100 rounded-box z-[9999] w-52 p-3 shadow-md gap-1 fixed border border-base-300"
  [style.top.px]="menuTop()" [style.left.px]="menuLeft()">
  @for (item of items(); track item.id) {
  <li class="hover:text-primary transition-colors rounded-md" (click)="onItemClicked(item, $event)">
    <span class="flex items-center gap-2">
      @if (item.icon) {
      <i class="bi bi-{{ item.icon }}"></i>
      }
      {{ item.label }}
    </span>
  </li>
  }
</ul>
}